{% extends 'bootstrap/base.html' %}

{% block content %}
  <main>
    <h1></h1>
      <div class="container">
        <div class="jumbotron">
          <h1>{{ h1 }}</h1>
          <label>Бесплатно проверяйте сайты на SEO-пригодность</label>
          <form>
            <input type="text" name="url" placeholder="https://www.example.com" value="{{ search }}">
            <button type="submit" class="btn btn-primary">ПРОВЕРИТЬ</button>
          </form>
        </div>
      </div>
  </main>
{% endblock %}